= form_for @artist do |f|
  -if @artist.errors.any?
    #error_explanation
      %h2= "#{pluralize(@artist.errors.count, "error")} prohibited this artist from being saved:"
      %ul
        - @artist.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :nationality
    = f.text_field :nationality
  .field
    = f.label :birth_date
    = f.datetime_select :birth_date
  .field
    = f.label :death_date
    = f.datetime_select :death_date
  .actions
    = f.submit 'Save'
