!!!
%html
  %head
    %title Musarcana
    / css loads
    = stylesheet_link_tag 'jquery-ui.css'
    /= load_css_for_directory 'vendor'
    = load_css_for_directory 'common'
    = load_css_for_directory "#{controller_name}"
    - if @has_grid
      = load_css_for_directory 'gridulous'
    / javascript loads
    = javascript_include_tag "jquery/jquery.min.js"
    = javascript_include_tag "jquery/jquery-ui.min.js"
    = load_javascript_for_directory 'vendor'
    - if @has_grid
      = load_javascript_for_directory 'gridulous'
    = load_javascript_for_directory "#{controller_name}/#{action_name}"
    = csrf_meta_tag
  %body
    .everything.light-blue
      = render 'layouts/header'
      = yield
      = render 'layouts/footer'
